@font-face {
  font-family: "MrEavesReg";
  src: url("./resources/fonts/MrEavesXLModOT-Reg.woff") format("woff");
}

@font-face {
  font-family: "MrEavesBold";
  src: url("./resources/fonts/MrEavesXLModOT-Bold.woff") format("woff");
}

body {
  margin: 0;
  font-family: "MrEavesReg", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:visited,
a:link,
a:active {
  text-decoration: none;
}

#root {
  height: 100vh;
}

html,
body,
#root {
  background-color: black;
}

* {
  box-sizing: border-box;
}

.youtube-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
